---
import Layout from '../../../layouts/Layout.astro';
import HadithIsnadFlow from '../../../components/HadithIsnadFlow';
import type { Locale } from '../../../i18n/translations';
import { getTranslations } from '../../../i18n/utils';

const currentLocale = (Astro.currentLocale as Locale) || 'en';
const t = getTranslations(currentLocale);
---

<Layout>
  <div class="min-h-screen py-8">
    <HadithIsnadFlow client:load locale={currentLocale} t={t} />
  </div>
</Layout>
